body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 2px;
}

a{
    color: white;
    margin: 20px;
}

a:hover{
    color: #adff2f;
    transition: 0.3s all;
}


#Login{
    border: 2px solid rgb(83, 201, 14);
    padding: 10px;
    border-radius: 20px;
    margin: 60px;
}

#Cadastro{
    border: 2px solid rgb(83, 201, 14);
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}

#Login:hover{
    background-color: greenyellow;
    color: white;
    margin: 65px;
}

#Cadastro:hover{
    background-color: greenyellow;
    color: white;
    margin: 15px;
}

#editarfoto{
    width: 50%;
    height: 50%;

}

.profile{
    margin-right: 60%;
}

.Perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    
}

h1{
    font-weight: 900;
    color: #adff2f;
}

h4{
    font-weight: 600;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
    color: #adff2f;
}

span{
    color: greenyellow;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 450px;
    margin: 10px;
    margin-left: 140px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form [type="submit"]{
    height: 60px;
    width: 50%;
    background-color: greenyellow;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

.FormCadastro {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
}


input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.dark-theme {
    background-color: rgb(68, 51, 99); /* Cor de fundo escura */
    color: #020101; /* Texto claro */
    /* Outras definições de estilo para o tema escuro */
}

/* Estilos para a seção de avaliação */
 .stars {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 60px; /* Tamanho maior das estrelas */
    display: inline-block;
    overflow: hidden;
    }

.stars-selected {
    color: #fffb00;
    position: absolute;
    margin-top: 28%;
    }

.profile-view {
    display: flex;
    align-items: center;
    
        }
   